@import "tailwindcss";

@theme {
  /* Colors */
  --color-primary: #6535e5;
  --color-secondary: #e0c9ff;

  /* Font */
  --font-cinzel: "Cinzel Decorative", serif;
  --font-lora: "Lora", serif;
}

:root {
  /* Colors */
  --color-primary: #6535e5;
  --color-secondary: #e0c9ff;

  /* Font */
  --font-Montserrat: "Montserrat Underline", sans-serif;
  --font-lora: "Lora", serif;
}

body {
  font-family: var(--font-Montserrat);
}

select,
option {
  font-family: system-ui, "Segoe UI Emoji", "Apple Color Emoji",
    "Noto Color Emoji", sans-serif;
}

/* Animatiun */
/* Fade Slide */
@keyframes fadeSlide {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-slide {
  animation: fadeSlide 0.5s ease-out forwards;
}

/* Loader */
@keyframes loader {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

.loader {
  background-color: rgb(163, 161, 161);
  border-radius: 10px;
  animation: loader 2s ease-in-out infinite;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-out;
}

.animate-zoomIn {
  animation: zoomIn 0.3s ease-out;
}
